.card-swap-container {
  position: relative;
  
  transform: translate(3%, 15%);

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #00000050;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(.8) translate(0%, 50%);
    perspective: 200px;
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.7);
    visibility: visible;
    perspective: 200px;
  }
}
